<?xml version="1.0" encoding="utf-8"?>
<manifest package="premiumapp.org.chirik"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".ThisApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activities.LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="fbe37b68e862267c6b0a5964701c07546d03e172"/>

        <activity
            android:name=".ui.activities.LoginActivity"
            android:label="Login"/>
        <activity
            android:name=".ui.activities.TopPostsActivity"
            android:label="Top posts"/>

        <activity android:name=".ui.activities.TopPicturesActivity"
            android:label="Top pictures">
        </activity>
    </application>

</manifest>
